.container {
  display: flex;
}

.poster, .content {
  width: 50%;
}

.poster img {
  width: 100%;
}

.content .title {
  margin: 0;
  padding: 0 5px;
  text-align: center;
}

.content .description {
  padding: 0 5px;
}
